p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.cols {display: flex; }

.yellowbox {
  padding: 1em;
  background: #FEBB43;
  color: black;
}
.center {
  text-align: center;
}

.highlight {
  background-color: #FFDD33;
  padding-top: 0.25px;
}

.redify

.bluify
